*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    width: 100%;
    min-height:100vh;
    background-color: rgb(33, 30, 30);
    font-family: sans-serif;
}
h2{
    font-size:xx-large;
    color: #E1CDB2;
    font-weight: bolder;
    animation: slide 3s linear;
}
h3{
    color:#e1cdb2;
}
p{
    color: #FFEACE;
    margin-left : 10px;
    animation: slide 3s linear;
}
nav{
    height: 60px;
    background-color: rgb(68, 68, 68);
    padding:10px 60px;
    display: flex;
    align-items: center;
}
.content{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.left ,.right{
    width: 50%;
}
.title{
    font-weight: 1000;
}
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .animated-text {
    animation: slide 3s infinite;
  }